<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form-style-7.css' %}" />
</head>
<body>
{% include "header.html" %}
<div class="form-style-7">
    <form action="/reset/" method="post">
        {% csrf_token %}
        <ul>
            {% include "form_template.html" with form=form %}
            <input type="hidden" name="round" id="round" value="{{round.round_code}}">
            <li>
                <label>Current players:</label>
                <textarea name="currentplayers" rows="{{ round.game.get_all_emails | length }}" readonly>{{ round.game.get_all_emails | join:'&#10;' }}</textarea>
                <span>Cannot reuse any email addresses on this list</span>
            </li>
            <li><input type="submit" value="Submit" ></li>
        </ul>
    </form>
</div>
</body>
</html>
